<div class="offcanvas offcanvas-end" tabindex="-1" id="cart" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Mi Carrito</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-2">
    <ul class="list-group">
      <% if user_signed_in? %>
        <% @cart.cart_items.each do |ci| %>
          <li class="list-group-item" aria-current="true">
            <div class="row">       
              <div class="col-6">
                <%= ci.product.name %>
              </div>
              <div class="col-3">
                <%= number_to_currency(ci.product.price) %>
              </div>
              <div class="col-3">
                <a href="/carts/remove_item?id=<%=ci.id%>" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </a>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>